<%- include('./partials/head', { title: "Edit Vinnyl"}) %> 

<%- include('./partials/navbar') %> 


<body>
    <form action="/vinnyl/edit/<%= vinnyl.id %>" method="POST">
        <p>Name</p>
        <input type="text" name="name" id="name" value="<%= vinnyl.name %>">
        <p>Genre</p>
        <input type="text" name="genre" id="genre" value="<%= vinnyl.genre %>">
        <p>Singer</p>
        <input type="text" name="singer" id="singer" value="<%= vinnyl.singer %>">
        <p>Released Year</p>
        <input type="number" name="released_year" id="released_year" value="<%= vinnyl.released_year %>">
        <p>Cover</p>
        <input type="url" name="cover" id="cover" value="<%= vinnyl.cover_url %>">
        <p>Restriction Age</p>
        <input type="number" name="restriction_age" id="restriction_age" value="<%= vinnyl.restriction_age %>">
        <p>Price</p>
        <input type="number" name="price_perday" id="price_perday" value="<%= vinnyl.price_perday %>"><br>
        <button type="submit">Submit</button>
        <button><a href="/vinnyl">Cancel</a></button>
    </form>
</body>
</html>