<%- include('./partials/head', { title: "Edit Vinnyl"}) %> 

<%- include('./partials/navbar') %> 


<body>
    <div class="form-group" style="max-width: 60%; min-width: 40%; margin: auto;">
        <br><br><h1>Edit Vinnyl Record here!</h1>
    <form action="/vinnyl/edit/<%= vinnyl.id %>" method="POST">
        <p>Name</p>
        <input class="form-control" type="text" name="name" id="name" value="<%= vinnyl.name %>">
        <p>Genre</p>
        <input class="form-control" type="text" name="genre" id="genre" value="<%= vinnyl.genre %>">
        <p>Singer</p>
        <input class="form-control" type="text" name="singer" id="singer" value="<%= vinnyl.singer %>">
        <p>Released Year</p>
        <input class="form-control" type="number" name="released_year" id="released_year" value="<%= vinnyl.released_year %>">
        <p>Cover</p>
        <input class="form-control" type="url" name="cover_url" id="cover" value="<%= vinnyl.cover_url %>">
        <p>Restriction Age</p>
        <input class="form-control" type="number" name="restriction_age" id="restriction_age" value="<%= vinnyl.restriction_age %>">
        <p>Price</p>
        <input class="form-control" type="number" name="price_perday" id="price_perday" value="<%= vinnyl.price_perday %>"><br>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="/vinnyl" button class="btn btn-danger">Cancel</button></a>
    </form>
</div>
</body>
</html>