<%- include('./partials/head', { title: "Edit Vinnyl"}) %> 

<body>
  <form action="/user/<%= data.id %>/mail" method="post"> 
    <button type="submit">Click here</button><a> to send totalPrice you should pay to your Email!</a>
  </form>

  <table style="margin:auto ;min-width: 60%; max-width: 80%;" class="table table-bordered" >
    <h3>Hi <%= data.DetailUser.name %> This is your currently Rented List!!</h3><br>
    <h3><a href="/logout">Logout</a></h3>
    <thead class="thead-dark">
      <tr>
        <th scope="col">cover</th>
        <th scope="col">name record</th>
        <th scope="col">singer</th>
        <th scope="col">genre</th>
        <th scope="col">borrow data</th>
        <th scope="col">return date</th>
        <th scope="col">price_perday</th>
      </tr>
    </thead>
    <% data.VinnylMusics.forEach(el => { %> 
      <tr>
        <td><img width="100" height="100" src=<%= el.cover_url %>> </td>
        <td><%= el.name %></td>
        <td><%= el.singer %></td>
        <td><%= el.genre %></td>
        <td><%= el.UserVinnyl.borrow_date %></td>
        <td><%= el.UserVinnyl.return_date %></td>
        <td><%= el.price_perday %></td>
      </tr>
    <% }) %> 

  </table>
</body>
</html>